body {
	background-color: #CAE7FB;
	font-family: Verdana;
}
p, footer, aside#sidebar a, ol, ul, figcaption {
	font-size: 11px;
}
p, ol, ul, figcaption {
	color: #064293;
}
main p, main ol, main ul {
	line-height: 1.5;
}

aside#sidebar, main {
	display: inline-block;
	vertical-align: top;
}
#body-container {
	padding: 10px;
	background-color: white;
	width: 765px;
	margin: 0 auto;
}
main {
	width: 560px;
	background-color: #D3E7F2;
	padding: 10px 20px;
}
footer {
	text-align: center;
}
.row {
	display: flex;
}

/* BANNER */
.banner {
	position: relative;
}

.banner #logo {
	position: absolute;
	top: 0;
	left: 0;
}

.banner #title {
	position: absolute;
	top: 0;
	left: 230px;
	color: blue;
	font-size: 24px;
	font-family: serif;
	font-style: italic;
	text-align: right;
}

/* SIDEBAR STUFF */

aside#sidebar {
	background-color: #92BAD5;
	padding: 5px 10px;
	width: 153px;
}
aside#sidebar a {
	display: block;
	font-weight: bold;
	background-color: #0470A5;
	padding: 5px 10px;
	margin: 5px 0px;
	color: white;
	text-decoration: none;
	border: 1px solid black;
}

/* HEADER NAV STUFF */

nav {
	margin: 5px 0;
}

nav ul
{
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
}

nav ul li
{
	min-width: 70px;
	position:relative;
	margin:0;
	padding:0;
	background-color: #114983;
}

nav ul a
{
	display:block;
	color:white;
	text-decoration:none;
	font-weight:700;
	font-size:11px;
	padding: 5px;
	font-family: sans-serif;
}

nav > ul > li {
	margin: 0 1px;
	display: inline-block;
}

nav ul li.current-menu-item
{
	background:#ddd;
}

nav ul li:hover
{
	background-color: #245C95;
}

nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	padding: 4px;
	background: #4A83BE;
}

nav ul ul li
{
	float:none;
	width:175px;
	background: #4A83BE;
}

nav ul ul a
{
	padding: 5px;
	text-decoration: underline;
}

nav ul li:hover > ul
{
	display:block;
}

/* PAGE CONTENT STYLES */

main img {
	margin: 0 10px;
	display: block;
}

main .align-left {
	float: left;
}

main .align-right {
	float: right;
}

main .align-center {
	display: block;
	margin: 0 auto;
}

main p {
	text-align: justify;
	hyphens: auto;
}

main .grid2x2 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

main .grid2x2 img {
	margin: 5px;
}

figcaption {
	font-style: italic;
	margin-top: 10px;
}
