<!DOCTYPE html>
<html>
<head>
<title>Toronto-York Sai Centre</title>
<link rel="stylesheet" href="/css/base.css">
</head>

<body>
	<div id="body-container">
		<header>
			<div class="banner">
				<img src="/img/banner.jpg" alt="Banner">
				<img src="/img/banner-sai.jpg" alt="Sai banner" height="162">
			</div><br>
			<!-- <marquee> -->
			<!-- 	My life is my message. ........... Love All Serve All ...... -->
			<!-- </marquee> -->

			<nav>
				<ul>
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Menu 1</a>
						<ul>
							<li><a href="#">Sub Menu 1</a></li>
							<li><a href="#">Sub Menu 2</a></li>
							<li><a href="#">Sub Menu 3</a></li>
							<li><a href="#">Sub Menu 4</a></li>
							<li><a href="#">Sub Menu 5</a></li>
						</ul>
					</li>
					<li><a href="#">Menu 2</a>
						<ul>
							<li><a href="#">Sub Menu 1</a></li>
							<li><a href="#">Sub Menu 2</a></li>
							<li><a href="#">Sub Menu 3</a></li>
						</ul>
					</li>
					<li><a href="#">Menu 3</a>
						<ul>
							<li class="dir"><a href="#">Sub Menu 1</a></li>
							<li class="dir"><a href="#">Sub Menu 2</a></li>
							<li><a href="#">Sub Menu 3</a></li>
							<li><a href="#">Sub Menu 4</a></li>
							<li><a href="#">Sub Menu 5</a></li>
						</ul>
					</li>
					<li><a href="#">Menu 4</a></li>
					<li><a href="#">Menu 5</a></li>
					<li><a href="#">Menu 6</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>
		</header><br><br>
		<div class="container">
			<aside id="sidebar">
				{{ range .Site.Menus.sidebar }}
					<a class="nav-link" href="{{.URL}}">{{ .Name }}</a>
				{{ end }}
				<!-- <a class="nav&#45;link" href="#">Home</a> -->
				<!-- <a class="nav&#45;link" href="#">About Us</a> -->
				<!-- <a class="nav&#45;link" href="#">Contact Us</a> -->
				<!-- <a class="nav&#45;link" href="#">Directions to Centre</a> -->
				<!-- <a class="nav&#45;link" href="#">Feedback</a> -->
				<!-- <a class="nav&#45;link" href="#">FAQ</a> -->
				<!-- <a class="nav&#45;link" href="#">Calendar</a> -->
				<!-- <a class="nav&#45;link" href="#">Newsletter</a> -->
				<!-- <a class="nav&#45;link" href="#">Sai Links</a> -->
			</aside>
			<main>
				{{ block "main" . }}
					<!-- <img src="/img/arrow.png" alt="arrow"> -->
					<h3>&gt; {{ .Title }}</h3>
					{{ .Content }}
				{{ end }}
			</main>
		</div>
		<footer>
			&copy; 2017 The Sri Sathya Sai Baba Centre of Toronto - York.
		</footer>
	</div>
</body>
</html>
