<!DOCTYPE html>
<html>
<head>
<title>Toronto-York Sai Centre</title>
<link rel="stylesheet" href="/css/base.css">
</head>

<body>
	<div id="body-container">
		<header>
			<div class="banner">
				<img src="/img/banner.jpg" alt="Banner"><!--
				--><img id="logo" src="/img/logo.png" alt="Logo"><!--
				--><img src="/img/banner-sai.jpg" alt="Sai banner" height="162">
				<h1 id="title">
					The Sri Sathya Sai Baba Centre<br>
					of Toronto-York
				</h1>
			</div>
			<marquee>
				<b>My life is my message. ........... Love All Serve All ......</b>
			</marquee>

			<nav>
				<ul>
					{{ $currentPage := . }}
					{{ range .Site.Menus.navbar }}
						<li{{if $currentPage.HasMenuCurrent "navbar" .}} class="active"{{end}}>
							<a href="{{.URL}}">{{ .Name }}</a>
							{{ if .HasChildren }}
								<ul>
									{{ range .Children }}
										<li{{if $currentPage.HasMenuCurrent "navbar" .}} class="active"{{end}}>
											<a href="{{.URL}}">{{ .Name }}</a>
										</li>
									{{ end }}
								</ul>
							{{ end }}
						</li>
					{{ end }}
				</ul>
			</nav>
		</header>
		<div class="row">
			<aside id="sidebar">
				{{ range .Site.Menus.sidebar }}
					<a class="nav-link" href="{{.URL}}">
						{{ .Pre }}&nbsp;&nbsp;{{ .Name }}
					</a>
				{{ end }}
				<hr>
			</aside>
			<main>
				{{ block "main" . }}
					<!-- <img src="/img/arrow.png" alt="arrow"> -->
					<h3>
						&gt;
						{{ template "breadcrumbtitle" .}}
					</h3>
					{{ .Content }}
				{{ end }}
			</main>
		</div>
		<footer>
			&copy; 2017 The Sri Sathya Sai Baba Centre of Toronto - York.
		</footer>
	</div>
</body>
</html>

{{ define "breadcrumbtitle" }}
	{{ if .Parent }}
		{{ if and (not .Parent.IsHome) (ne (lower (humanize .Parent.Title)) (lower .Title)) }}
			{{ template "breadcrumbtitle" .Parent }} &gt;&gt; 
		{{ end }}
	{{ end }}
	{{ humanize .Title }}
{{ end }}
