<!DOCTYPE html>
<html>
<head>
<title>Toronto-York Sai Centre</title>
<link rel="stylesheet" href="css/base.css">
</head>

<body>
	<div id="body-container">
		<header>
			<div class="banner">
				<img src="img/banner.jpg" alt="Banner">
				<img src="img/banner-sai.jpg" alt="Sai banner" height="162">
			</div><br>
			<!-- <marquee> -->
			<!-- 	My life is my message. ........... Love All Serve All ...... -->
			<!-- </marquee> -->
			<nav>
				<a class="nav-link" href="#">Events</a>
				<a class="nav-link" href="#">Spiritual</a>
				<a class="nav-link" href="#">Services</a>
				<a class="nav-link" href="#">Education</a>
				<a class="nav-link" href="#">Ladies Wing</a>
				<a class="nav-link" href="#">Youth Group</a>
				<a class="nav-link" href="#">What's New</a>
			</nav>
		</header><br>
		<div class="container">
			<aside id="sidebar">
				<a class="nav-link" href="#">Home</a>
				<a class="nav-link" href="#">About Us</a>
				<a class="nav-link" href="#">Contact Us</a>
				<a class="nav-link" href="#">Directions to Centre</a>
				<a class="nav-link" href="#">Feedback</a>
				<a class="nav-link" href="#">FAQ</a>
				<a class="nav-link" href="#">Calendar</a>
				<a class="nav-link" href="#">Newsletter</a>
				<a class="nav-link" href="#">Sai Links</a>
			</aside>
			<main>
				&gt; Home
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie sapien tortor, sagittis euismod risus commodo ac. Maecenas gravida felis eget est luctus fermentum. Ut maximus fringilla tortor, ut ultricies ex. Praesent lacinia odio vel venenatis posuere. Vestibulum quis rutrum lectus. Proin elementum, nulla id lacinia cursus, ante nisl venenatis turpis, et bibendum nisi nisl eu urna. Fusce semper tempor mollis. Aliquam at cursus libero. Ut ac leo non sem eleifend vulputate. Morbi in volutpat turpis. Aenean pretium interdum leo sed fringilla. Ut pretium pharetra neque eu cursus. Phasellus sit amet enim non nunc iaculis consequat non a erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie sapien tortor, sagittis euismod risus commodo ac. Maecenas gravida felis eget est luctus fermentum. Ut maximus fringilla tortor, ut ultricies ex. Praesent lacinia odio vel venenatis posuere. Vestibulum quis rutrum lectus. Proin elementum, nulla id lacinia cursus, ante nisl venenatis turpis, et bibendum nisi nisl eu urna. Fusce semper tempor mollis. Aliquam at cursus libero. Ut ac leo non sem eleifend vulputate. Morbi in volutpat turpis. Aenean pretium interdum leo sed fringilla. Ut pretium pharetra neque eu cursus. Phasellus sit amet enim non nunc iaculis consequat non a erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
			</main>
		</div>
		<footer>
			&copy; 2017 The Sri Sathya Sai Baba Centre of Toronto - York.
		</footer>
	</div>
</body>
</html>
